<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marondal.spring.ex.jsp.dao.UserDAO">

<insert id ="insertUser" parameterType="map">
	INSERT INTO
  			`new_user`
  		(
  			`name`,
  			`yyyymmdd`,
  			`email`,
  			`introduce`,
  			`createdAt`,
  			`updatedAt`
  		)	
  		VALUE
  		(
  			#{name},
  			#{birthday},
  			#{email},
  			#{introduce},
  			now(),
  			now()
  		
  		)

</insert>

<insert id="insertUserByObject" parameterType="com.marondal.spring.ex.jsp.model.User" 
useGeneratedKeys="true" keyProperty = "id"><!-- 직접 만드는게 아니라서 경로넣기 -->
	INSERT INTO
  			`new_user`
  		(
  			`name`,
  			`yyyymmdd`,
  			`email`,
  			`introduce`,
  			`createdAt`,
  			`updatedAt`
  		)	
  		VALUE
  		(
  			#{name},
  			#{yyyymmdd},
  			#{email},
  			#{introduce},
  			now(),
  			now()
  		
  		)
</insert>




<select id ="selectLastUser" resultType="com.marondal.spring.ex.jsp.model.User"><!-- 다오서 메소드명 복사해오기 -->
	SELECT 
			`id`,
			`name`,
  			`yyyymmdd`,
  			`email`,
  			`introduce`,
  			`createdAt`,
  			`updatedAt`
  	FROM 
  		`new_user`
  		
	ORDER BY 
		`id` DESC <!-- desc가장최근에 한게 제일 큰수 -->
	LIMIT 
		1
</select>

</mapper>
